{% extends 'bootstrap/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="#"> </a>
    <div>
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('page.index') }}">Registro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('page.busqueda')}}">Buscar</a>
          </li>

      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-1">
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == 'error' %}
                            <div class="alert alert-danger" role="alert">
                            {{ message }}
                            </div>
                            {% else %}
                                <div class="alert alert-success" role="alert">
                                {{ message }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
     </div>
    </div>
            {% block container %}
            {% endblock %} {# fin block container#}

{% endblock %}> {# fin block content#}